{{ define "main" }}
<h1>List of posts</h1>


{{- range .Data.Pages.GroupByDate "2006" }}
  {{ .Key }}<hr>
				{{- range .Pages }}
					<a href="{{.Permalink}}">
						{{.Title}} ({{ .Date.Format .Site.Params.dateformShort }})
					</a><br>
				{{- end }}

		<br>
		{{- end }}
{{ end }}
